*,
*::before,
*::after {
	user-select: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background: linear-gradient(
		#e92e3d,
		#ff6e6a
	) 0 100% no-repeat;
	background-size: 100% 50%;
}
.container {
	width: 300px;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	background-color: #fff;
	box-shadow: 0 5px 35px rgba(50, 50, 50,15);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Poppins', sans-serif;
}
.dice-wrapper {
	width: 90%;
	display: flex;
	justify-content: space-around;
	gap: 20px;
}
p {
	font-size: 20px;
	margin: 30px 0;
	font-weight: 500;
	text-align: center;
}
img {
	pointer-events: none;
}
button {
	background-color: #e92e3d;
	font-family: inherit;
	border: none;
	outline: none;
	color: #fff;
	padding: 15px 0;
	width: 150px;
	letter-spacing: 1px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	cursor: pointer;
}
.shake {
	animation: shake 1.1s infinite;
	-webkit-animation: shake 1.1s infinite;
}
@keyframes shake {
	0%, 100% {
		filter: blur(0px);
		transform: rotateX(0deg) rotateZ(0deg);
		-webkit-transform: rotateX(0deg) rotateZ(0deg);
		-moz-transform: rotateX(0deg) rotateZ(0deg);
		-ms-transform: rotateX(0deg) rotateZ(0deg);
		-o-transform: rotateX(0deg) rotateZ(0deg);
		-webkit-filter: blur(0px);
}
	50% {
		filter: blur(20px);
		transform: rotateX(360deg) rotateZ(80deg);
		-webkit-transform: rotateX(360deg) rotateZ(80deg);
		-moz-transform: rotateX(360deg) rotateZ(80deg);
		-ms-transform: rotateX(360deg) rotateZ(80deg);
		-o-transform: rotateX(360deg) rotateZ(80deg);
		-webkit-filter: blur(20px);
}
	70% {

		transform: rotateX(170deg) rotateZ(-110deg);
		-webkit-transform: rotateX(170deg) rotateZ(-110deg);
		-moz-transform: rotateX(170deg) rotateZ(-110deg);
		-ms-transform: rotateX(170deg) rotateZ(-110deg);
		-o-transform: rotateX(170deg) rotateZ(-110deg);
		
	}
}